body{
  font-family:'dejavu-mono';
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h2{
  font-family:'vera';
  width:100%;
  background-color: white;
  padding:10px;
  /* padding-bottom:10px; */
  font-size:20px;
  box-sizing:border-box;
  /* text-align: center; */
  border-bottom:1px solid black;
  position:sticky;
  top: 0;
  z-index:3000;
}

h3{
  font-weight:600;
  margin:10px;

}

label{
  margin-right:3px;
}

#tool-table button{
  font-size:25px;
  border:1px dotted black;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height: 0;
  display:inline-block;
  overflow:hidden;
  margin:0px 3px;
}

#tool-table button.selected{
  background-color: lemonchiffon;
}


.remove{
  padding-bottom:50px;
  padding-top:10px;
  color:red;
  text-decoration: underline;
}

.duplicate{
  padding-bottom:50px;
  padding-top:10px;
  color:green;
  text-decoration: underline;
}

.slab.end-items{
  display:none;
}

.focus-text .slab.end-items,.focus-stroke .slab.end-items{
  display:block;
}


.dropdown{
  min-width:0;
  z-index:0;
  position:relative;
  cursor:pointer;
  height:27px;
  border:1px dotted black;
  display:flex;
  flex-flow:row nowrap;
  /* padding:7px; */
  /* padding:0px 7px; */
}


.duplication-notice{
  opacity:0;
  transition:opacity 0.3s;
}

.notice,.duplication-notice{
  background-color: white;
  position:absolute;
  bottom:0;
  right:0;
  padding:5px;
}

.notice{
  display:none;
}

.drawing .notice{
  display:block;
}


.dropdown.dropped{
  z-index:100;
}

.dropdown ul{
  height:100%;
  overflow:hidden;
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top:7px;
  min-width:0;

}

.floater{
  pointer-events: none;
  position:absolute;
  /* --x:0;
  --y:0;
  --w:0;
  --l:0; */
  top:0;
  left:0;
  width:0;
  height:0;
}

.floater.on{
  border:1px solid rgba(0,0,0,0.5);
}




.dropdown li{
  background-color: white;
  border:1px dotted black;
  border-top:0px;
  padding:7px;
  /* margin-bottom:7px; */
  order:2;
  text-overflow: ellipsis;
  overflow-x:clip;
  white-space: nowrap;
  max-width:100%;
  /* padding-bottom:6px; */
}
.dropdown li.selected{
  order:0;
  padding-top:0px;
  border-left:0px;
  border-right:0px;
}

.dropdown.dropped ul{
  overflow:visible;
}

#which-layer ul{
  display:flex;
  flex-flow:row wrap;
}

#which-layer li{
  border:1px dotted black;
  padding:8px;
  cursor:pointer;
}
#which-layer li.selected{
  background-color: lemonchiffon;
}


#gl-canvas[data-layer='0'] .effect-panel,#gl-canvas[data-layer='1'] .effect-panel,#gl-canvas[data-layer='2'] .effect-panel{
  display:block;
}

#gl-canvas[data-layer='4'] .composite-panel{
  display:block;
}

.dropdown::after{
  content:'∨';
  padding:0px 7px;
  padding-top:7px;
  border-left:1px dotted black;

}

.slab{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  padding:0px 10px;
  margin-bottom:7px;
  /* border-bottom:1px solid black; */
}



#color-pick ul{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  border:1px dotted black;
  /* padding-left:0px 3px; */
}

.swatch{
  --r:0;
  --g:0;
  --b:0;
  background-color:rgb(var(--r),var(--g),var(--b));
  border:1px dotted black;
  border-right:0px;
  height:29px;
  width:29px;
}

.rgb-pair{
  /* padding-left:5px; */
  border-left:1px dotted black;
}
.rgb-pair:first-child{
  border-left:0px;
}

.rgb-pair label{
  margin-right:-8px;
}


#tool-table #move-tool{
  font-size:18px;
  padding-bottom:3px;
}

#tool-table #text-tool{
  font-size:20px;
}

#tool-table #brush-tool{
  font-size:35px;
}

#page-wrap{
  position:fixed;
  top:57px;
  left:0;
  width:100vw;
  height:calc(100vh - 57px);
  box-sizing: border-box;
  /* background-color: lavenderblush; */

  --aspect-ratio:0.75;
}

details{
  position:fixed;
  top:100vh;
  /* transform:translateY(-100%); */
  left:0;
  top:0;
  z-index:400;
  width:100vw;
  padding:20px;
  box-sizing:border-box;
  background-color:lemonchiffon;
  /* color:white; */
  height:fit-content;
  border-bottom:1px solid black;
}


summary{
  cursor:pointer;
}



details p,details[open] summary{
line-height:20px;
  margin-bottom:10px;
  letter-spacing:-0.2px;
  max-width:600px;
}

details p{
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  line-height:24px;
}

details[open]{
  height:50vh;
}

@media(max-width:600px){
  details[open]{
    height:100vh;
    
  }
  summary{
    pointer-events:none;
  }

  #page-wrap{
    display:none;
  }
}




.controls{
  background-color: white;
  min-height:200px;
  box-sizing: border-box;
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  padding-bottom:100px;
}

.controls>div{
  flex:1;
  max-width:50%;
  padding-top:10px;
  box-sizing: border-box;
  /* padding:20px; */
}

.controls>div:first-child{
  /* border-right:1px solid grey; */
}






#figures{
  width:100%;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
}

.col{
  flex:1;
  border-left:1px solid black;
  overflow:scroll;
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: center;
}

figure{
  padding-bottom:calc(var(--aspect-ratio)*50vw);
  position:relative;
  width:100%;
  /* margin-bottom:100px; */
  /* min-height:100vh; */
  background-color: lavenderblush;
}

#workspace{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

#dom-canvas[data-mode='text'] figure{
  cursor:text;
}

#dom-canvas[data-mode='brush'] figure{
  cursor:crosshair;
}

.node-specific>div{
  display:none;
}

#dom-canvas[data-mode='text'] .text-property-panel{
  /* background-color: rgba(0,0,0,0.1); */
  /* min-height:50px; */
  display:block;
}

#dom-canvas.focus-text .text-property-panel{
  display:block;
}

#dom-canvas[data-mode='brush'] .brush-property-panel{
  /* background-color: rgba(0.1,0,0,0.1);; */
  /* min-height:50px; */
  display:block;
}

/* nav{
  display:none;
  padding:10px;
}

#dom-canvas[data-mode='brush'] .line-nav{
  display:block;
} */



#dom-canvas[data-mode='brush'] .node{
  cursor:crosshair;
}



.node{
  position:absolute;
  opacity:1;
  transform:translateY(25%);
  cursor:pointer;
  color:rgba(0, 0, 0, 0);
  white-space: pre;
  /* box-sizing: content-box; */
}



.node.focus{
  cursor:grab;
  z-index:1000;
  border:2px dotted rgba(0, 0, 0, 0.5);
}

.node.drag{
  cursor:grabbing;
}

.node.focus::after{
  content:'|';
  animation: blink 1s linear infinite;
  opacity:1;
  color:black;
  font-family:arial;
  font-weight:200;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

canvas{
  position:absolute;
  width:100%;
  height:100%;
  /* border-top:1px solid black; */
  border-bottom:1px solid black;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type='number'],input[type='number']:focus {
  border: none;
  outline: none;
  height:100%;
  /* background-color: var(--bg3); */
  background-color: rgba(0,0,0,0.1);
  /* font-size:1rem;
  line-height:1.3rem; */
  height:27px;
  font-size:16px;
  font-family: 'dejavu-mono';
  /* border:1px dotted black; */
}

input[type='range']{
  flex:1;
  margin-left:10px;
  min-width: 0;
}

input[type=range]{
    background-color: rgba(255,255,255,0) !important;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    margin-top: 4px;
    height: 1px;
    background-color: black;
}

input[type=range]::-webkit-slider-thumb {
    cursor:grab;

    height:10px;
    margin-top:-4px;
    border-radius: 50%;
    width:10px;
    background-color: black;
    -webkit-appearance: none;
    border: none;

}
input[type=range]::-webkit-slider-thumb:active{
  cursor:grabbing;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  margin-top: 4px;
  height: 1px;
  background-color:black;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color:black;
}
input[type="range"]::-moz-range-track {
  background-color:black;
}
input[type="range"]::-moz-range-thumb{
  cursor:grab;
  height:10px;
  margin-top:-4px;
  border-radius: 50%;
  width:10px;
  background-color: black;
  -webkit-appearance: none;
  border: none;
}
input[type="range"]::-moz-range-thumb:active{
  cursor:grabbing;
}





@font-face {
  font-family: 'vera';
  src: url('assets/vera.ttf');
}

@font-face {
  font-family: 'dejavu-mono';
  src: url('assets/dejavu-mono.ttf');
}

@font-face {
  font-family: 'dejavu-mono';
  font-weight: 600;
  src: url('assets/dejavu-mono-bold.ttf');
}
