#input canvas{
  /* font-smooth: never;
  -webkit-font-smoothing : none; */
}

#container{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  flex-flow:row nowrap;
  /* justify-content: space-between; */
  width:100%;
}

.panel{
  border:1px solid black;
  min-width:500px;
  margin:20px;
}

.panel:first-child{
  margin-right:0px;
}
