canvas,header{
  position:fixed;
  /* top:20vh;
  left:20vw;
  width:60vw;
  height:60vh; */
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

header{
  pointer-events: none;
}
h1{
  position:absolute;
  bottom:0;
  left:0;
  margin:20px;
  font-weight: 400;
  font-family: monospace;
}

a{
  pointer-events: all;
}
